ul {
    padding-left: 20px;
    list-style-type: disc;
  }
  
  li {
    margin-bottom: 5px;
  }
  
:root {
    --normal_text_color: #52575C;
    --title_text_color: #45818e;
  }
  .pdf-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .resume{
    background-color: pink;

    padding: 60px;
 
    box-shadow: 0px 0px 10px #ccc;
  }
.resume_header_main_name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    color: var(--title_text_color);
}
.resume_header_main_job_title{font-size: 16px;
    font-weight: 400;}
.main{
    background-color:rgb(245, 247, 250);
        font-family: "Graphik", sans-serif;
    }
    .resume_header_main_contact{
        color: var(--normal_text_color);
    }
    .resume_contents_experience_title{
        color: var(--title_text_color);
        font-size: 14px;
         
        margin-top: 30px;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid #d8e4e7;
        margin-bottom: 10px;
    }.resume_contents_experience_company_and_date{ 
        width: 100%;
        justify-content: space-between;
        display: flex;
    }
    .resume_contents_experience_company_and_date_company_name{
        font-weight: 550;
    }
    .resume_contents_experience_company_and_date_company_date{
        font-style: italic;
        justify-content: space-between;
        font-size: 15px;
        color: var(--normal_text_color);
    }
    .resume_contents_experience_job_title{
        font-size: 15px;
        color: var(--normal_text_color);
    }
    .resume_contents_experience_achivements > ul > li::marker{
        
    color: var(--title_text_color);
  
    }
.resume_contents_experience_achivements > ul > li{
    padding-left: 20px;
}
    .resume_contents_experience_achivements {
        color: var(--normal_text_color);
      
        }
    
    .resume_contents_education_title{
        color: var(--title_text_color);
        font-size: 14px;
         
        margin-top: 30px;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid #d8e4e7;
        margin-bottom: 10px;
    }.resume_contents_education_institute_and_date{ 
        width: 100%;
        justify-content: space-between;
        display: flex;
    }
    .resume_contents_education_institute_and_date_institute_name{
        font-weight: 550;
    }
    .resume_contents_experience_company_and_date_company_daresume_contents_education_institute_and_date_institute_date{
        font-style: italic;
        justify-content: space-between;
        font-size: 15px;
        color: var(--normal_text_color);
    }
    .resume_contents_education_study_title_and_gpa{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .resume_contents_education_study_title_and_gpa{
        font-style: italic;
        font-size: 15px;
        color: var(--normal_text_color);;
    }
    .resume_contents_education_study_title{
        font-size: 15px;
        color: var(--normal_text_color);
    }
    .resume_contents_education_achivements > ul > li::marker{
        
    color: var(--title_text_color);
  
    }
.resume_contents_education_achivements > ul > li{
    padding-left: 20px;
}
    .resume_contents_education_achivements {
        color: var(--normal_text_color);
      
        }
    
    .resume_contents_projects_title{
        color: var(--title_text_color);
        font-size: 14px;
         
        margin-top: 30px;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid #d8e4e7;
        margin-bottom: 10px;
    }
    .resume_contents_projects_item_title{
        font-weight: 550;
    }
    .resume_contents_projects_item_description{
        color: var(--normal_text_color);
        font-size: 15px;
        margin-bottom: 10px;
    }
    .resume_contents_projects_item_achivements{
        color: var(--normal_text_color);
        font-size: 15px;
        margin-bottom: 10px;
    }

    .resume_contents_projects_item_achivements > ul > li::marker{
        
    color: var(--title_text_color);
  
    }
.resume_contents_projects_item_achivements > ul > li{
    padding-left: 20px;
}
    .resume_contents_projects_item_achivements{
        color: var(--normal_text_color);
      
        }
    

        .resume_contents_skills_title{
            color: var(--title_text_color);
            font-size: 14px;
             
            margin-top: 30px;
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: 1px solid #d8e4e7;
            margin-bottom: 10px;
        }
       .resume_contents_skills_item_title_and_content{
            display: flex;
        }
        .resume_contents_skills_item_title{
            font-weight: 550;
        }
        .resume_contents_skills_list{
            color: var(--normal_text_color);
            font-size: 15px;
            margin-bottom: 10px;
        }
        .resume_contents_skills_list > ul > li::marker{
            
        color: var(--title_text_color);
      
        }
    .resume_contents_skills_list > ul > li{
        padding-left: 20px;
    }
        .resume_contents_skills_list{
            color: var(--normal_text_color);
          
            }
        .resume_contents_certifications_title{
            color: var(--title_text_color);
            font-size: 14px;
             
            margin-top: 30px;
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: 1px solid #d8e4e7;
            margin-bottom: 10px;
        }
        
        .resume_contents_certifications_item_title{
            font-weight: 550;
        }
        .resume_contents_certifications_item_achivements{
            color: var(--normal_text_color);
            font-size: 15px;
            margin-bottom: 10px;
        }
        .resume_contents_certifications_item_achivements > ul > li::marker{
            
        color: var(--title_text_color);
      
        }
    .resume_contents_certifications_item_achivements > ul > li{
        padding-left: 20px;
    }
        .resume_contents_certifications_item_achivements{
            color: var(--normal_text_color);
          
            }
        